<div class="col-12 col-md-6" style="margin:auto">
  <table>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Detail</th>
      <th>image</th>
      <th>price</th>

      <th>Delete</th>
      <th>Editer</th>
    </tr>

    <tr *ngFor="let list of listObjectTo; let i = index">
      <td>{{ i }}</td>
      <td>{{ list.name }}</td>
      <td>{{ list.detail }}</td>
      <td><img src="{{list.image}}" width="128px;128px;" alt="" /></td>
      <td>{{ list.price }}</td>
      <td><a>x</a></td>
      <td><a>e</a></td>
    </tr>
  </table>
</div>
{{ listObjectTo }}
