<div class="p-3">
  <div class="text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <button type="button" (click)="toListOfSong()" class="btn btn-secondary">
        Show List Total Of Song Bands.
      </button>
      <button type="button" class="btn btn-secondary">
        Show List Total of Locations.
      </button>
      <button type="button" class="btn btn-secondary">
        Show List Total of Food place.
      </button>
    </div>
  </div>

  <div *ngIf="listObjectTo.length" class="mt-5" style="margin:auto">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Detail</th>
          <th scope="col">image</th>
          <th scope="col">price</th>

          <th scope="col">Delete</th>
          <th scope="col">Edit</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let list of listObjectTo; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ list.name }}</td>
          <td>{{ list.detail }}</td>
          <td><img src="{{list.img}}" width="128px;128px;" alt="" /></td>
          <td>{{ list.price }}</td>
          <td>
            <a class="closeListObject"><i class="fas fa-window-close"></i></a>
          </td>
          <td>
            <a class="editListObject"> <i class="fas fa-edit"></i> </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
