<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 d-none d-md-block bg-light sidebar">
      <h3 class="text-center">Party Editer</h3>

      <div class="sidebar-sticky">
        <ul class="nav flex-column">
          <li class="nav-item"><a routerLink="/admin/food">Food</a></li>
          <li class="nav-item"><a routerLink="/admin/location">Location</a></li>
          <li class="nav-item">
            <a routerLink="/admin/songBand">The Song Band</a>
          </li>
        </ul>
      </div>
    </nav>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 ">
      <div class="mainPage"><router-outlet></router-outlet></div>
    </main>
  </div>
</div>
