<div class="container">
  <h3 class="text-center text-primary addKanit">Booking party.</h3>
  <form class="col-12 col-md-6" style="margin:auto">
    <div class="md-form">
      <label for="name_party">Name Party: </label>
      <input
        class="form-control"
        type="text"
        placeholder="Name party.../"
        name="name_party"
        [(ngModel)]="partyTotal.name_party"
      />
    </div>
    <div class="md-form">
      <label for="name_party">Start Party: </label>
      <input
        class="form-control"
        type="date"
        name="start_time"
        [(ngModel)]="partyTotal.start_time"
      />
    </div>
    <div class="md-form">
      <label for="name_party">Select your song in party: </label>
      <div class="imagBorder text-center">
        <img
          (click)="onChangeSong(song)"
          class="imgThisPage"
          *ngFor="let song of songData"
          src="{{ song.img_src }}"
        />
        <h3 *ngIf="!songData.length" class="text-center">Song is empty</h3>
      </div>
    </div>

    <div class="md-form">
      <label for="name_party">Select your food in party: </label>
      <div class="imagBorder text-center">
        <img
          (click)="onChangeFood(food)"
          class="imgThisPage"
          *ngFor="let food of foodData"
          src="{{ food.img_food }}"
        />
        <h3 *ngIf="!foodData.length" class="text-center">Food is empty</h3>
      </div>
    </div>

    <div class="md-form">
      <label for="name_party">Select your location in party: </label>
      <div class="imagBorder text-center ">
        <img
          (click)="onChangeLocation(location)"
          class="imgThisPage"
          *ngFor="let location of locationData"
          src="{{ location.img_location }}"
        />
        <h3 *ngIf="!locationData.length" class="text-center">
          Location is empty
        </h3>
      </div>
    </div>

    <div class="md-form">
      <label for="name_party">Select your theme in party: </label>
      <div class="imagBorder text-center">
        <img
          (click)="onChangeTheme(theme)"
          class="imgThisPage"
          *ngFor="let theme of themeData"
          src="{{ theme.img_theme }}"
        />
        <h3 *ngIf="!themeData.length" class="text-center">Theme is empty</h3>
      </div>
    </div>
    <!-- Select page -->
    <div class="md-form">
      <!-- <div class="row"> -->
      <!-- <div class="col-12 col-md-6"> -->
      <div class="md-form ">
        <label for="Song Band mt-2 mb-2">You selected Song Band.</label>
        <div class="md-form imgThisPageSelect">
          <div class="row">
            <div class="col-12 text-center col-md-4">
              <img
                src="{{ partyTotal.song.img_src }}"
                style="width:128px;height:128px;"
                alt=""
                srcset=""
              />
            </div>
            <div class="col-12 text-center col-md-8">
              <h5 class="text-primary mt-3">{{ partyTotal.song.name_song }}</h5>
              <span class="addKanit">
                price : {{ partyTotal.song.price_song | currency: "฿" }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="md-form ">
        <label for="Song Band mt-2 mb-2">You selected food Band.</label>
        <div class="md-form imgThisPageSelect">
          <div class="row">
            <div class="col-12 text-center col-md-4">
              <img
                src="{{ partyTotal.food.img_food }}"
                style="width:128px;height:128px;"
                alt=""
                srcset=""
              />
            </div>
            <div class="col-12 text-center col-md-8">
              <h5 class="text-primary mt-3">{{ partyTotal.food.name_food }}</h5>
              <span class="addKanit">
                price : {{ partyTotal.food.price_food | currency: "฿" }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
      <!-- <div class="col-12 col-md-6"> -->
      <div class="md-form ">
        <label for="Song Band mt-2 mb-2">You selected location Band.</label>
        <div class="md-form imgThisPageSelect">
          <div class="row">
            <div class="col-12 text-center col-md-4">
              <img
                src="{{ partyTotal.location.img_location }}"
                style="width:128px;height:128px;"
                alt=""
                srcset=""
              />
            </div>
            <div class="col-12 text-center col-md-8">
              <h5 class="text-primary mt-3">
                {{ partyTotal.location.name_location }}
              </h5>
              <span class="addKanit">
                price : {{ partyTotal.location.price_location | currency: "฿" }}
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="md-form">
        <label for="Song Band mt-2 mb-2">You selected theme Band.</label>
        <div class="md-form imgThisPageSelect">
          <div class="row ">
            <div class="col-12 text-center col-md-4">
              <img
                src="{{ partyTotal.theme.img_theme }}"
                style="width:128px;height:128px;"
                alt=""
                srcset=""
              />
            </div>
            <div class="col-12 text-center col-md-8">
              <h5 class="text-primary mt-3">
                {{ partyTotal.theme.name_theme }}
              </h5>
              <span class="addKanit">
                price : {{ partyTotal.theme.price_theme | currency: "฿" }}
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- </div> -->
      <!-- </div> -->
    </div>
    <div class="md-form mt-5">
      <h3 class="text-primary">
        Total Price : {{ privateTotal | currency: "฿" }}
      </h3>
    </div>
    <div class="md-form mt-5">
      <button
        (click)="saveThisParty()"
        class="btn-block btn btn-lg btn-primary"
      >
        Save This Party
      </button>
    </div>
  </form>
</div>
