/* You can add global styles to this file, and also import other style files */
.primary-bk {
  background: #007bff;
}
.write-bk {
  background: white;
}
body {
  background: #007bff;
}
h1,
h3,
h5,
p,
a,
label,
small,
strong,
button,
li,
th,
td,
.addKanit {
  font-family: "Kanit", sans-serif;
}
